<h1>Eet Da Burga!</h1>
<img src="../assets/img/burger.png">
<h2>Burgers Not Yet Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR!</button>
        </form>

       
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit"> Devour A New Burger!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burgr">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Sleepy?</label><br>
    <input type="radio" name="devour" value="1" checked> Devour Now!<br>
    <input type="radio" name="devour" value="0"> Devour Later...
  </div>

  <button type="submit">Add Burger</button>
</form>